<li class="country-item">
    <div class="country-flag-wrap">
        <img class="country-flag-img" src={{flags.svg}} width="640" height="400" alt="{{name}}">
        {{!-- <svg class="country-flag" width="640" height="400">
            <use url={{flags.svg}}>

            </use>
        </svg> --}}
    </div>

    <p class="small-text">{{name}}</p>
</li>